main{
    background-color: #073980;
    padding: 5rem;
    padding-bottom: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: white;
    border-radius: 3rem;
}
.contact{
    margin: 0 auto;
    width: 50%;
    height: 100vh;
    text-align: center;
}
label{
    display: block;
    font-size: 100%;
    letter-spacing: 1px;
    margin-top: 2rem;
    margin-bottom: .5rem;
}
input, textarea{
    font-family: inherit;
    display: block;
    margin: 0 auto;
    padding: 1rem .5rem;
    font-size: 110%;
    width: 100%;
    border-radius: .3rem;
    border: none;
}
.btn-submit{
    padding: 3% 40%;
    width: 100%;
    border: none;
    border-radius: .2rem;
    background-color: var(--secondary-color);
    color: white;
    letter-spacing: 2px;
    font-size: 100%;
}
.btn-submit:hover{
    background-color: #0071c5;
}