@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
    font-family: 'Lato', sans-serif;
}
:root {
    --primary-color: #1D4ED8;
    --secondary-color: #3B82F6;
    --light-blue: #93C5FD;
    --dark-grey: #6B7280;
}
a , li{/*remove styles*/
    text-decoration: none;
    list-style: none;
}
/* containers */
.container {
    padding: 0 1rem;
}
.container-center{
    text-align: center;
}
/* links */
.primary-link, .secondary-link{
    display: inline;
    padding: 1rem 1.5rem;
}
.primary-link{
    
}