@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
    font-family: 'Lato', sans-serif;
}
:root {
    --primary-color: #1D4ED8;
    --secondary-color: #3B82F6;
    --light-blue: #93C5FD;
    --dark-grey: #6B7280;
}
a , ul{/*remove styles*/
    text-decoration: none;
    list-style: none;
}
/* containers */
.container {
    padding: 0 1rem;
}
.container-center{
    text-align: center;
}
/* links */
.links li a {
    color: white;
}
.links .secondary-link a {
    color: var(--secondary-color);
}
.primary-link, .secondary-link, .common-links{
    display: inline;
    padding: 1rem 1.5rem;
}
.primary-link {
    background-color: var(--primary-color);
    border-radius: 1rem;
}
.secondary-link {
    border: 2px solid #3B82F6;
    border-radius: 1rem;
}
hr {
    margin: 2rem;
}
/* lists */
.list-inline li{
    display: inline;
    padding: 1rem;
}
/* navigation */
nav {
    background-color: var(--primary-color);
    border-bottom-left-radius: 1rem;
    padding: 2rem;
}
.nav-name {
    font-weight: bold;
    font-size: 1.8rem;
    color: white;
}
.nav-list {
    text-align: right;
    
}
.nav-list li a {
    color: white;
}
/* header */
.hero {
    padding: 2rem;
    text-align: center;
}
.hero-img {
    display: block;
    max-width: 400px;
    margin: auto;
}
.hero-heading {
    font-size: 2rem;
    padding-top: 2rem;
    color: var(--dark-grey);
}
.hero-heading span {
    color: var(--primary-color);
}