/* Open Sans Font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300;1,700&display=swap");

/* Playfair Display Font */
/* @import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;900&display=swap"); */

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  /* main colors */
  --dark-blue: #002d62;
  --primary-color: #00308f;
  --secondary-color: #3b82f6;
  /* other colors */
  --offset-blue: #2c3968;
  --dark-grey: #6b7280;
  --off-white: #f1edff;
  --yellow-color: #ffe162;
  /* Fonts */
  --ff-primary: "Open Sans", sans-serif;
  --ff-secondary: "Playfair Display", serif;
}
body {
  font-family: var(--ff-primary);
}
main {
  margin: 0px auto;
  /* width: 90%; */
}
a,
ul,
.list-inline {
  /*remove styles*/
  text-decoration: none;
  list-style: none;
}
ul,
ol,
p {
  line-height: 1.6;
}

/* containers */
.container {
  padding: 0rem 1rem;
}
.container-center {
  max-width: 480px;
  width: 100%;
  margin: auto;
}
/* links */
.link-active a {
  font-weight: bold;
  border-bottom: 1px solid var(--off-white);
  padding-bottom: 0.2rem;
}
.links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.link-primary,
.link-secondary,
.common-links {
  display: inline;
  padding: 0.5rem 1.5rem;
}
.link-primary {
  background-color: var(--secondary-color);
  border-radius: 5rem;
  color: white;
  /* for space between 2 links */
  margin-right: 1.5rem;

  box-shadow: -0.5rem 0.5rem 0px var(--offset-blue);
  transition: box-shadow 500ms ease;
}
.link-primary:hover {
  background-color: var(--primary-color);
  box-shadow: 0rem 0rem 0px var(--offset-blue);
}
.link-secondary {
  border: 2px solid var(--secondary-color);
  color: var(--primary-color);
  border-radius: 5rem;
}

hr {
  margin: 2rem;
}
/* lists */
.list-inline li {
  display: inline;
  padding: 1rem;
}
/* navigation */
nav {
  background-color: var(--primary-color);
  padding: 0.7rem 2rem;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-name {
  font-weight: bold;
  font-size: 1.8rem;
  color: white;
}
.nav-list li a {
  color: white;
  letter-spacing: 1.5px;
}
.nav-list li a:hover {
  color: var(--yellow-color);
}
/* header */
.hero {
  padding: 8rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.hero-img {
  display: block;
  max-width: 400px;
  border-radius: 50%;
}
.hero-heading {
  font-size: 2rem;
  font-weight: normal;

  color: var(--dark-grey);
  text-align: left;
}
.author-name {
  color: var(--primary-color);
  display: block;
  padding: 1.3rem 0rem;
  font-size: 3rem;
  font-weight: 700;
  font-family: var(--ff-primary);
}
.author-work,
.author-bio {
  font-weight: 500;
  color: var(--offset-blue);
  font-weight: 500;
  font-size: 1.8rem;
}
.author-bio {
  display: inline-block;
  width: 50ch;
}
/* sections */
.section {
  font-size: 115%;
  padding: 7rem;
}
.section p {
  font-weight: 500;
}
.section h2 {
  text-align: center;
  color: var(--offset-blue);
  font-size: 180%;
  font-weight: 900;
  padding-bottom: 2rem;
  text-transform: uppercase;
  font-family: var(--ff-secondary);
  letter-spacing: 5px;
}
.off-white-section {
  background-color: var(--off-white);
}
.skills_title {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 110%;
}
.skills_images {
  display: flex;
  flex-basis: 250px;
  flex-wrap: wrap;
}
.skills_images > img {
  margin: 1rem;
  display: block;
  flex: 1;
}
.about_para a {
  color: var(--offset-blue);
  border-bottom: 1px solid #002d62;
}
.about_para a:hover {
  border: none;
  color: var(--secondary-color);
}
.about_para > p,
.skills_para > p {
  padding-bottom: 1rem;
}

/* footer */
footer {
  background-color: var(--primary-color);
  width: 100%;

  padding-top: 2rem;
  margin-top: 5rem;

  text-align: center;
  color: white;
}
footer .social-links {
  padding-inline-start: 0px;
  display: flex;
  justify-content: center;
}
footer .social-links a {
  color: white;
  display: block;
  padding: 0.5rem 1rem;
  font-size: 110%;
  cursor: pointer;
}
footer .social-links a:hover {
  background-color: var(--secondary-color);
  border-radius: 0.5rem;
}
.footer-header {
  font-weight: bolder;
  font-size: large;
  word-spacing: 0.1rem;
  letter-spacing: 0.1rem;
}
.footer_credits {
  background-color: var(--dark-blue);
  width: 100%;
  padding: 1rem 0;
}
.contact-form {
  margin-top: 3rem;
  width: 100%;
}

/* MEDIA QUERIES FOR 1000 MAX */
@media screen and (max-width: 1000px) {
  .hero {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
  }
  .hero-heading {
    text-align: center;
  }
  .link-primary {
    box-shadow: 0rem 0rem 0px var(--offset-blue);
  }
}

/* MEDIA QUERIES FOR 695 MAX */
@media screen and (max-width: 695px) {
  nav {
    display: flex;
    flex-direction: column;
  }
  .hero-img {
    max-width: 250px;
  }
}

/* MEDIA QUERIES FOR 630 MAX */
@media screen and (max-width: 630px) {
  .section {
    padding: 4rem 1rem;
  }
}

/* MEDIA QUERIES FOR 510 MAX */
@media screen and (max-width: 510px) {
  nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    font-size: 0.8rem;
    padding-bottom: 1.3rem;
  }
  .nav-list {
    margin-top: 1.2rem;
    padding: 0;
  }
  main {
    margin-top: 8rem;
    font-size: 0.9rem;
  }
  /* Hero section begins */
  .hero-heading {
    font-size: 1.5rem;
    text-align: left;
  }
  .author-name {
    font-size: 2rem;
    padding: 0.7rem 0;
  }
  .author-work {
    font-size: 1.3rem;
  }
  .author-bio {
    font-size: 1.3rem;
    max-width: 340px;
  }
  /* Hero section ends */

  footer {
    margin-top: 0;
  }
  footer .social-links {
    flex-direction: column;
  }
  footer ul li:hover a {
    border-bottom: unset;
  }
}
@media screen and (max-width: 380px) {
  nav {
    padding: 0.7rem 0;
    display: flex;
    justify-content: space-between;
  }
}
